---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    pubDate: "2/27/2025",
    title: "Find",
    description: "find the correct emoji",
};

const day = Astro.url.pathname.split("/")[1];
---

<Layout
    title=`${day} | ${frontmatter.title}`
    description=`${frontmatter.description}`
>
    <main
        class="w-screen h-dvh flex items-center justify-center flex-col gap-4"
    >
        <div
            class="relative w-96 h-96 border border-black flex items-center justify-center"
            id="find"
        >
            <script src="../../scripts/find.js"></script>
        </div>
        <div
            class="w-96 text-black/50 flex justify-center items-center relative"
        >
        </div>
    </main>
</Layout>
