---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    pubDate: "3/17/2025",
    title: "Severance",
    description: "attempting the severance job.",
};

const day = Astro.url.pathname.split("/")[1];
---

<Layout
    title=`${day} | ${frontmatter.title}`
    description=`${frontmatter.description}`
>
    <main
        class="w-screen h-dvh flex items-center justify-center flex-col gap-4"
    >
        <div
            class="relative w-96 h-96 border border-black flex items-center justify-center"
            id="severance"
        >
            <script src="./scripts/severance.js"></script>
        </div>
        <div
            class="w-96 text-black/50 flex justify-center items-center relative"
        >
            <button class="absolute left-0" id="delete">delete</button>
        </div>
    </main>
</Layout>
