---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="002 | Gradient" description="002">
    <main class="w-screen h-dvh flex items-center justify-center">
        <div
            class="w-96 h-96 border border-black cursor-none relative card group"
        >
            <div
                class="gradient w-full h-full top-0 left-0 absolute z-10 opacity-0 transition-opacity duration-500 group-hover:opacity-100"
            >
            </div>
        </div>
    </main>
</Layout>

<style>
    .gradient {
        background: radial-gradient(
            500px circle at var(--mouse-x) var(--mouse-y),
            rgba(51, 51, 51, 0.6),
            transparent 40%
        );
    }
</style>

<script>
    document
        .querySelector(".card")
        ?.addEventListener("touchmove", (event: TouchEvent) => {
            event.preventDefault();

            const target = event.currentTarget as HTMLElement;
            const rect = target.getBoundingClientRect();
            const touch = event.touches[0];
            const x = touch.clientX - rect.left;
            const y = touch.clientY - rect.top;

            target.style.setProperty("--mouse-x", `${x}px`);
            target.style.setProperty("--mouse-y", `${y}px`);
        });
    document
        .querySelector(".card")
        ?.addEventListener("mousemove", (event: MouseEvent) => {
            const target = event.currentTarget as HTMLElement;
            const rect = target.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;

            target.style.setProperty("--mouse-x", `${x}px`);
            target.style.setProperty("--mouse-y", `${y}px`);
        });
    document
        .querySelector(".gradient")
        ?.addEventListener("touchend", (event) => {
            const target = event.currentTarget as HTMLElement;
            target.style.opacity = "0";
        });
    document
        .querySelector(".gradient")
        ?.addEventListener("touchstart", (event) => {
            const target = event.currentTarget as HTMLElement;
            target.style.opacity = "100%";
        });
</script>
