---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    pubDate: "10/3/2024",
    title: "Swirl",
    description: "2D circles swirl around a center point.",
};

const day = Astro.url.pathname.split("/")[1];
---

<Layout
    title=`${day} | ${frontmatter.title}`
    description=`${frontmatter.description}`
>
    <main
        class="w-screen h-dvh flex items-center justify-center flex-col gap-2"
    >
        <div
            class="relative w-96 h-96 border border-black flex items-center justify-center"
        >
            <canvas id="swirl" class="w-full h-full"></canvas>
            <script src="./scripts/swirl.js"></script>
        </div>
    </main>
</Layout>
