---
import Layout from "../layouts/Layout.astro";
const pages = import.meta.glob("./*/*.astro", { eager: true });

interface Frontmatter {
    day: string;
    title: string;
}

interface PageModule {
    frontmatter: Frontmatter;
}

const links = Object.entries(pages).map(([path, mod]) => {
    const page = mod as PageModule;
    const href = path.replace(".", "").replace("/index.astro", "");
    const text = `${href.replace("/", "")} ${page.frontmatter?.title}`;
    return {
        href: href,
        text: text,
    };
});
---

<Layout title="100" description="100">
    <main class="w-screen h-dvh flex items-center justify-center">
        <div class="flex items-center justify-center flex-col lg:w-1/3 w-96">
            <div class="flex w-full font-bold text-4xl">
                <p class="">100</p>
            </div>
            <div
                class="w-full grid grid-cols-3 bg-[#f1f1ef] border p-4 text-black/50 relative z-10 text-sm gap-y-4 transition-colors shadow-lg rounded-lg"
            >
                {
                    links.map((link) => (
                        <a
                            href={link.href}
                            class="hover:text-black transition-colors"
                        >
                            {link.text}
                        </a>
                    ))
                }
            </div>
            <div class="flex w-full text-black/50 py-2 relative">
                <a href="https://woreg.in/">@woregin</a>
            </div>
        </div>
    </main>
</Layout>
