---
import Layout from "../layouts/Layout.astro";

// Create an array of link objects
const links = [
    { href: "/001", text: "001 Cube" },
    { href: "/002", text: "002 Gradient" },
    { href: "/003", text: "003 Greeting" },
    { href: "/004", text: "004 Pattern" },
    { href: "/005", text: "005 Gravity" },
    { href: "/006", text: "006 Shapes" },
];
---

<Layout title="100">
    <main class="w-screen h-dvh flex items-center justify-center">
        <div class="flex items-center justify-center flex-col lg:w-1/3 w-96">
            <div class="flex w-full font-bold text-4xl">
                <p class="">100</p>
            </div>
            <div
                class="w-full grid grid-cols-3 bg-[#f1f1ef] border p-4 text-black/50 relative z-10 text-sm gap-y-4 transition-colors shadow-lg rounded-lg"
            >
                {
                    links.map((link) => (
                        <a
                            href={link.href}
                            class="hover:text-black transition-colors"
                        >
                            {link.text}
                        </a>
                    ))
                }
            </div>
            <div class="flex w-full text-black/50 py-2 relative">
                <a href="https://woreg.in/">@woregin</a>
            </div>
        </div>
    </main>
</Layout>
