---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="005 | Gravity">
    <main class="w-screen h-dvh flex items-center justify-center">
        <div
            class="absolute w-96 h-96 border border-black flex items-center justify-center"
        >
            <canvas id="gravity" class="absolute"></canvas>
            <script src="../../scripts/gravity.js"></script>
        </div>
    </main>
</Layout>
