---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    pubDate: "2/21/2025",
    title: "□",
    description: "simple rock paper scissors game using pixi js",
};

const day = Astro.url.pathname.split("/")[1];
---

<Layout
    title=`${day} | ${frontmatter.title}`
    description=`${frontmatter.description}`
>
    <main
        class="w-screen h-dvh flex items-center justify-center flex-col gap-2"
    >
        <div
            class="relative w-96 h-96 border border-black flex items-center justify-center"
            id="square"
        >
            <script src="../../scripts/square.js"></script>
        </div>
        <div
            class="w-96 text-black/50 flex justify-center items-center relative"
        >
            <button class="absolute left-0 hover:text-black" id="reset">
                reset
            </button>
            <button class="hover:text-black" id="jump"> jump </button>
        </div>
    </main>
</Layout>
