---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="003 | Greeting" description="003">
    <main class="w-screen h-dvh flex items-center justify-center">
        <div
            class="absolute w-96 h-96 border border-black flex items-center justify-center"
        >
            <canvas id="background" class="absolute"></canvas>
            <script src="../../scripts/greeting.js"></script>
        </div>
    </main>
</Layout>
