---
import Layout from "../../layouts/Layout.astro";

export const frontmatter = {
    pubDate: "9/25/2024",
    title: "Cube",
    description: "A 3D Cube demo page.",
};

const day = Astro.url.pathname.split("/")[1];
---

<Layout
    title=`${day} | ${frontmatter.title}`
    description=`${frontmatter.description}`
>
    <main class="w-screen h-dvh flex items-center justify-center">
        <div
            class="absolute w-96 h-96 border border-black flex items-center justify-center"
        >
            <canvas id="cube" class="absolute"></canvas>
            <script src="../../scripts/cube.js"></script>
        </div>
    </main>
</Layout>
