---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="001 | Cube" description="001">
    <main class="w-screen h-dvh flex items-center justify-center">
        <div
            class="absolute w-96 h-96 border border-black flex items-center justify-center"
        >
            <canvas id="cube" class="absolute"></canvas>
            <script src="../../scripts/cube.js"></script>
        </div>
    </main>
</Layout>
